{% extends "base.html" %}


{% block header_content %}

<title>Where PH Login</title> 
<h2>Log In to Access API</h2>

{% endblock%}

{% block app_content %}

<div class="wrapper style2" align="center">
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <!-- Latitude -->
        <p class="text-white-50 mb-4"> {{ form.username.label}}
            {{ form.username() }}
        </p>
        <!-- Longitude -->
        <p class="text-white-50 mb-4"> {{ form.password.label }} 
            {{ form.password(size=32) }}
        </p>

        <footer>
            {{ form.submit(class="button") }}
        </footer>


    </form>
</div>

{% endblock %}